<div id="wrapper">
	<div class="header_text">
		<div class="row">
	  <div class="small-3 small-centered columns" id="start"><a href="/users/sign_in" class="button round">Get Started</a></div>
		</div>
	</div>
</div>